<div class="container">
    <header>
        <h1><i class="fa fa-exclamation-circle"></i> {{t 'booking.rejected.title'}}</h1>
        <p>{{t 'booking.rejected.next-minutes'}}</p>
    </header>
</div>
