.project
.classpath
.settings
.directory
target
bin
classes
META-INF

*.idea
*.iml

store-ui/etc
store-ui/bower_components
store-ui/node
store-ui/node_modules
store-ui/dev.conf.json
store-webapp/src/main/webapp/resources
/.metadata/
