<h3>1- Uso da Plataforma</h3>

<h4>1.1- Preciso me registrar no sistema para comprar Tours e Atividades?</h4>
<p>Não é necessário se registrar no sistema para adquirir os passeios e atividades, podendo também ter acesso às funções extras, como guardar suas atividades favoritas.</p>

<h4>1.2- Quais são os requisitos para comprar os passeios através desta plataforma?</h4>
<p>Para os estrangeiros viajando desde fora da Argentina é necessário ter um documento de identificação (RG ou passaporte). Se você tem nacionalidade argentina ou é residente, pode usar o DNI argentino.</p>

<h3>2- Reservas</h3>

<h4>2.1- Quanto tempo demora e como recebo a confirmação da minha reserva?</h4>
<p>A confirmação chega por email poucos minutos depois de feita a reserva. Tenha em conta que em algumas ocasiões pode demorar um pouco mais, especialmente nos fins de semana e feriados.</p>

<h4>2.2- Ainda não tenho a data da minha viagem confirmada. Posso reservar com datas em aberto?</h4>
<p>Não, sempre é necessário especificar a data.</p>

<h4>2.3- As reservas sempre são pagas online?</h4>
<p>Sim, a plataforma funciona com pagamentos online, ainda que algumas atividades sejam gratuitas e não seja necessário efetuar pagamento.</p>

<h4>2.4- Quanto tempo antes da atividade devo fazer a reserva?</h4>
<p>As reservas devem ser feitas em até dois dias antes da atividade. Dependendo do prestador, pode ser mais ou menos, em alguns casos até algumas horas antes.</p>

<h4>2.5- Posso reservar por telefone?</h4>
<p>Não, todas as reservas devem ser feitas através da nossa plataforma online.</p>

<h4>2.6- Onde e como posso comprovar a disponibilidade para cada atividade?</h4>
<p>Clicando na ficha de cada atividade, seleccione o dia desejado no calendário, clique em "Selecionar o horário", onde aparece a disponibilidade para o dia e hora solicitados.</p>

<h4>2.7- Os passeios podem ter diferentes horários?</h4>
<p>Alguns sim e outros não, você poderá verificar especificamente na ficha de cada um deles.</p>

<h3>3- Pacotes e Ofertas</h3>

<h4>3.1- Posso utilizar as promoções de MercadoPago.com?</h4>
<p>Sim, você pode utilizar as promoções de MercadoPago.com para adquirir os paseios e as atividades.</p>

<h3>4- Formas de Pagamento</h3>

<h4>4.1- Quais as formas de pagamento para reservar as atividades?</h4>
<p>Os pagamentos podem ser feitos com todos os cartões de crédito habilitados no MercadoPago.com</p>

<h4>4.2- Posso usar qualquer cartão de crédito?</h4>
<p>Se pueden utilizar todas las tarjetas aceptadas por MercadoPago.com</p>

<h4>4.3- Como recebo o resumo dos gastos no meu cartão de crédito?</h4>
<p>O detalhe dos gastos é enviado através do MercadoPago.com com os detalhes da(s) atividade(s) adquirida(s).</p>

<h4>4.4- Em qual moeda estão expressos os valores dos passeios?</h4>
<p>Os valores dos passeios estão expressos em pesos argentinos.</p>

<h4>4.5- Em caso de cancelamento, o valor pago é devolvido?</h4>
<p>Se você cancelar sua compra deve entrar em contato diretamente com o prestador para que, desde sua conta no  MercadoPago.com, anule a compra e devolva o valor correspondente.</p>

<h4>4.6- O prestador já me devolveu o pagamento. Onde está o dinheiro?</h4>
<p>Se você pagou desde sua conta no MercadoPago.com, automaticamente vai encontrar a devolução na sua própria conta. Da mesma forma, o site MercadoPago.com vai lhe enviar um email confirmando a devolução.</p>

<h4>4.7- É seguro comprar pela plataforma?</h4> 
<p>Utilizamos o protocolo "SSL" (Secure Sockets Layer), um padrão global de encriptação e segurança, compatível com Internet Explorer da Microsoft e também com outros navegadores mais comuns, assim seus dados pessoais estão protegidos e chegam de maneira privada às entidades emissoras dos cartões de crédito, que terão acesso aos dados do seu cartão.</p>

<h4>4.8- Aparece um erro</h4>
<p>Em caso de erro você pode ir até a seção “Ajuda”, que está no canto superior direito. Nela você pode enviar uma mensagem através do nosso suporte online ao cliente, no canto inferior direito da mesma seção.</p>

<h3>5- Documentação</h3>

<h4>5.1- Qual a documentação pessoal que devo levar se sou residente na Argentina?</h4>
<p>No caso de ser residente na Argentina você deve apresentar seu DNI argentino e ou voucher impresso.</p>

<h4>5.2- Qual a documentação pessoal que devo levar se sou um visitante estrangeiro?</h4>
<p>No caso de ser um visitante estrangeiro você deve apresentar um documento de identificação (RG ou Passaporte) e o voucher impresso.</p>

<h3>6- Idiomas</h3>

<h4>6.1- Todas as atividades são feitas em vários idiomas?</h4>
<p>Algumas atividades incluem guias que falam diferentes idiomas; nesses casos, as especificações e detalhes estão na ficha do produto.</p>