<h3>1- Use of the Platform</h3>

<h4>1.1- Do I need to register to book tours and activities?</h4>
<p>No, it's not necessary to register in order to buy tours and activities, nor to use several extra functions such as saving activities to your "favorites".</p>

<h4>1.2- What do I need to books tours through the platform?</h4>
<p>If you are visiting Argentina from abroad, you'll need your passport. Residents of Argentina may use their Argentine identity card (DNI).</p>

<h3>2- Booking</h3>

<h4>2.1- How long does it take, and when will I get confirmation?</h4>
<p>Bookings are confirmed just minutes after processing the transaction. You'll receive confirmation by email. Please note that confirmation emails may sometimes be delayed, particularly at weekends and on special dates.</p>

<h4>2.2- I'm still not sure when I'm going to visit. Is it possible to make open reservations?</h4>
<p>To make a booking, you'll always need to choose a date, so you're best advised to make reservations only after you've confirmed the dates of your trip.</p>

<h4>2.3- Do I need to pay for all bookings online?</h4>
<p>Yes, the platform works using online payment, but some activities are free, in which cases you will not be asked for payment.</p>

<h4>2.4- How far in advance do I need to book?</h4>
<p>Most bookings need to be made at least two days in advance, but depending on the provider of each activity, you may be able to book as little as a few hours beforehand.</p>

<h4>2.5- Is it possible to book by phone?</h4>
<p>No; reservations must be made using the online platform.</p>

<h4>2.6- How can I check the availability of each activity?</h4>
<p>When viewing the details of each activity, select your preferred date on the calendar and click "choose time". The drop-down list will display the number of places available on this date.</p>

<h4>2.7- Are tours available at several times?</h4>
<p>Some tours and activities are available at different times. Details are specified on each product's page.</p>

<h3>3- Packages and offers</h3>

<h4>3.1- Can I use promotions from MercadoPago.com?</h4>
<p>Yes, you can use promotions from MercadoPago.com to purchase tours and activities.</p>

<h3>4- Methods of payment</h3>

<h4>4.1- How can I pay for my reservations?</h4>
<p>Currently, you can pay with all credit cards accepted by the platform MercadoPago.com</p>

<h4>4.2- Can I use any credit card?</h4>
<p>You can use all credit cards accepted by the online platform MercadoPago.com</p>

<h4>4.3- How will payments appear on my credit card statement?</h4>
<p>The detail will appear as MercadoPago.com, with details of the activity purchased.</p>

<h4>4.4- In which currency are the prices expressed on BA.tours?</h4>
<p>All prices are expressed in Argentine pesos.</p>

<h4>4.5- How will I be refunded if I cancel a reservation?</h4>
<p>If you need a refund, contact the provider so they can cancel the purchase and issue the corresponding refund through MercadoPago.com.</p>

<h4>4.6- The provider issued a refund. Where’s my money?</h4>
<p>If you paid with your MercadoPago account, the money will automatically be refunded to your credit or debit card. You'll receive an email from MercadoPago.com confirming that a refund has been issued.</p>

<h4>4.7- Is the platform safe?</h4> 
<p>Our platform uses a Secure Sockets Layer (SSL) compatible with IE, Firefox, Chrome and other common browsers. This encryption ensures that your data is protected and that the connection with your credit or debit card provider is secure.</p>

<h4>4.8- I got an error message</h4>
<p>If you receive an error message, check the "Help" section, located in the upper right-hand corner of the page. There you'll be able to get assistance by sending a message to our online support team.</p>

<h3>5- Documentation</h3>

<h4>5.1- What ID do I need to take with me if I'm a resident of Argentina?</h4>
<p>If you're a resident of Argentina, you should take your national ID card (DNI) and your reservation voucher when you attend your tour or activity.</p>

<h4>5.2- What ID do I need to take with me if I'm a foreign visitor?</h4>
<p>If you're a foreign visitor, you should take your passport and reservation voucher when you attend your tour or activity.</p>

<h3>6- Languages</h3>

<h4>6.1- Are activities available in different languages?</h4>
<p>Some activities feature guides who speak different languages, in which case the languages will be specified in the details of the activity.</p>