<h3>1- Uso de la Plataforma</h3>

<h4>1.1- ¿Debo registrarme en el sistema para comprar Tours y Actividades?</h4>
<p>No es necesario registrarte para adquirir Tours y Actividades, incluso podés acceder a varias funciones extra, como guardar tus actividades favoritas.</p>

<h4>1.2- ¿Qué requisitos necesito para comprar Tours a través del Marketplace?</h4>
<p>En caso de viajar desde el exterior, es necesario contar con tu Pasaporte. Si sos residente en Argentina, podés hacerlo con tu DNI.</p>

<h3>2- Reservas</h3>

<h4>2.1- ¿Cuánto tarda y cómo recibo la confirmación de mi reserva?</h4>
<p>Se realiza en pocos minutos de procesarse la operación y la confirmación te llegará por e-mail. Es importante tener en cuenta que en algunas ocasiones las confirmaciones pueden tardar en llegar, especialmente en fines de semana y fechas especiales.</p>

<h4>2.2- Todavía no tengo confirmada la fecha de viaje ¿Se pueden reservar actividades con fecha abierta?</h4>
<p>Siempre se debe especificar la fecha, por lo que sugerimos realizar la reserva una vez confirmada la fecha del viaje.</p>

<h4>2.3- ¿Todas las reservas se pagan en línea?</h4>
<p>Sí, la plataforma funciona con pagos en línea, aunque algunas actividades son gratuitas y no deberás pagar por la misma.</p>

<h4>2.4- ¿Con cuánta anticipación se realizan las reservas?</h4>
<p>Las reservas suelen realizarse con al menos dos días de anticipación. Dependiendo del prestador de servicios turísticos podrá reservar hasta unas horas antes de realizarla.</p>

<h4>2.5- ¿Se pueden reservar actividades por teléfono?</h4>
<p>No, todas las reservas se realizan a través de nuestra plataforma online.</p>

<h4>2.6- ¿Dónde y cómo puedo comprobar la disponibilidad para cada actividad?</h4>
<p>Ingresando en la ficha de cada actividad, seleccioná en el calendario el día en el querés realizar la actividad y hace click en "Seleccioná el horario". Allí te aparecerán los cupos disponibles en esa fecha.</p>

<h4>2.7- ¿Los Tours pueden tener varios horarios?</h4>
<p>Hay Tours y Actividades que disponen de varios horarios, los podrás ver especificados en la ficha de cada uno.</p>

<h3>3- Paquetes y Ofertas</h3>

<h4>3.1- ¿Puedo utilizar las promociones de MercadoPago.com?</h4>
<p>Sí, se pueden utilizar las promociones de MercadoPago.com para adquirir los Tours y Actividades.</p>

<h3>4- Medios de Pago</h3>

<h4>4.1- ¿Cuáles son los medios de pago para reservar actividades?</h4>
<p>Actualmente se puede abonar con todas las tarjetas de crédito habilitadas en MercadoPago.com</p>

<h4>4.2- ¿Se puede utilizar cualquier Tarjeta de Crédito?</h4>
<p>Se pueden utilizar todas las tarjetas aceptadas por MercadoPago.com</p>

<h4>4.3- ¿Cómo llega el detalle de la actividad en el Resumen de mi tarjeta?</h4>
<p>Llega el detalle a través de MercadoPago.com con el detalle de la Actividad adquirida.</p>

<h4>4.4- ¿En qué moneda están expresados los valores de los Tours?</h4>
<p>Los valores de los Tours están en Pesos Argentinos.</p>

<h4>4.5- En caso de cancelar la actividad ¿Cómo me devuelven el dinero?</h4>
<p>Si necesitás que te devuelvan el dinero, comunicate con el Prestador para que desde su cuenta de MercadoPago.com anule la compra y reintegre el dinero. En caso de que el Prestador no responda puedes ingresar en el botón de Enviar Consulta o Chat en la esquina inferior derecha.</p>

<h4>4.6- El Prestador ya me devolvió el pago, ¿dónde está el dinero?</h4>
<p>Si pagaste con el dinero de tu cuenta de MercadoPago.com automáticamente, encontrarás este reintegro en la cuenta de tu TC o TD. También llegará a tu correo un email indicando desde Mercado Pago, la confirmación de tu reintegro.</p>

<h4>4.7- ¿Es seguro comprar en la plataforma?</h4> 
<p>Utilizamos en nuestra plataforma un protocolo de capa de zócalos segura (o "SSL", por sus siglas en inglés) compatible con Internet Explorer de Microsoft y otros navegadores de uso común. Con este cifrado tus datos personales se encuentran protegidos, llegando de forma privada a las entidades emisoras de tarjetas de crédito tendrán acceso a los datos de tu tarjeta.</p>

<h4>4.8- Me sale un error</h4>
<p>En caso de que dé error puedes ingresar en el botón de “Enviar Consulta” o “Chat” en la esquina inferior derecha.</p>

<h3>5- Documentación</h3>

<h4>5.1- ¿Qué documentación personal debo llevar si soy Residente de Argentina?</h4>
<p>En caso de ser Residente de Argentina debes concurrir con DNI y el voucher impreso.</p>

<h4>5.2- ¿Qué documentación personal debo llevar si soy un Visitante del Exterior de Argentina?</h4>
<p>En caso de ser Visitante del Exterior de Argentina debes concurrir con documento de Identidad y el Voucher impreso.</p>

<h3>6- Idiomas</h3>

<h4>6.1- ¿Todas las actividades tienen guías en varios idiomas?</h4>
<p>Algunas actividades incluyen guías en distintos idiomas, en esos casos están especificados los detalles en cada ficha de producto.</p>