<section class="bg-box">
  <div id="booking-cancelation-details" class="booking-cancelation-details">
    <div class="container">
      <header>
        <h1>{{t 'booking.confirm.messaje'}}</h1>
      </header>
      <form id="confirm-form" class="form-inline">
        <div>
          <button type="submit" class="btn btn-primary btn-raleway-cancel">{{t 'booking.confirm.cancel'}}</button>
          <a href="" class="btn btn-link btn-pill btn-pill-lg btn-raleway">{{t 'booking.confirm.exit'}}</a>
        </div>
      </form>
    </div>
  </div>
</section>
