<section class="bg-box">
	<div id="booking-cancelation-details"></div>
	<div id="booking-cancelation-select"></div>
	<div id="booking-partial-cancelation"></div>
	<div id="booking-cancelation-success"></div>
	<div id="booking-cancelation-details-error"></div>
</section>
