<section class="bg-box">
  <div id="booking-cancelation-select" class="booking-cancelation-details">
    <div class="container">
      <header>
        <h1>{{t 'booking.cancel.title-select'}}</h1>
      </header>
        <div>
          <button id="total-submit" type="button" class="btn btn-primary btn-raleway-cancel" style="background-color: red;border-color: red;">{{t 'booking.cancel.button.total'}}</button>
          <button id="partial-submit" type="button" class="btn btn-primary btn-raleway-cancel">{{t 'booking.cancel.button.partial'}}</button>
          <a href="" class="btn btn-link btn-pill btn-pill-lg btn-raleway">{{t 'booking.confirm.exit'}}</a>
        </div>
    </div>
  </div>
</section>