<form id="profile-form" action="#" method="PUT">
    <div id="personal-information-container"></div>
    <div class="btn-group">
        <button type="submit" id="submit-profile-form" class="btn btn-primary btn-lg btn-icon-right btn-sm-block btn-xs-block btn-xxs-block"><span class="btn-icon"><i class="fa fa-angle-right"></i></span>{{t 'save'}}</button>
    </div>
</form>
