<div class="row" >
    <div class="col-sm-7">
        <label for="quantity" class="control-label text-right-dropdown">{{rate2.name}}(Edad + 13)</label>
    </div>
    <div class="col-sm-5">
        <div class="input-group">
            <span class="input-group-btn" ><button type="button" class="btn-circle" id="less-units-btn" data-toggle={{rate2.name}}>-</button></span>
            <span class="border-0"><input type="text" class="form-control form-control-dropdown"  id="quantity{{rate2.name}}" name="quantityAdult" value="0" readonly></span> 
            <span class="input-group-btn"><button type="button" class="btn-circle" id="more-units-btn" data-toggle={{rate2.name}}>+</button></span>
        </div>
    </div>
    
</div>