<div class="col-sm-12">
    <input id="promocode" name="promocode" data-checkout="promocode" class="form-control input-date" placeholder="{{t 'activity.checkout.promocode-placeholder'}}" value="{{promocode}}"/>
    <span id="messageErrorPromocode" class="error_message" style="color: #ffd300;">{{t 'promocode.error.discount.discountCode.invalidCode'}}</span>
</div>