<h2><strong>Como funciona?</strong></h2>

<p>BA.tours é o primeiro marketplace de reservas de passeios e atividades da Cidade de Buenos Aires.</p>
<p>Nesta plataforma você vai encontrar ofertas de passeios atividades e informações. Poderá fazer sua reserva desde qualquer dispositivo, a qualquer hora.</p>
<h3><strong>Passo a passo:</strong></h3>

<ol class="list-numbered">
    <li>Procure a experiência que você deseja dentro das diferentes categorias ou coleções. Uma categoria agrupa atividades relacionadas (por exemplo, passeios guiados de bike) e uma coleção agrupa diferentes categorias (por exemplo, atividades ao ar livre). <img src="{{baseImageURL}}/how-it-works/categories-screenshot.png" /></li>
    <li>Uma vez que você já tenha a informação desejada, clique no botão “Faça sua reserva”, escolha a data, o horário e a quantidade de pessoas. <img src="{{baseImageURL}}/how-it-works/activity-detail-form.gif" /></li>
    <li>Complete com os dados do seu cartão de crédito para efetuar o pagamento, no caso de que não seja uma atividade gratuita. <img src="{{baseImageURL}}/how-it-works/activity-checkout.gif" /></li>
    <li>O pagamento total já garante sua reserva. Não se esqueça de ler tudo sobre a política de cancelamento do prestador selecionado.</li>
    <li>Se o pagamento for parcial, você deverá pagar ao prestador a diferença no momento em que da atividade.</li>
    <li>As atividades gratuitas precisam de reserva.</li>
    <li>Uma vez feita a reserva, você vai receber um email com o voucher, os dados de contato do vendedor e o lugar da atividade.</li>
</ol>
