<h2><strong>How does it work?</strong></h2>

<p>BA.tours is the online marketplace for the reservation of tourist activities and experiences in the city of Buenos Aires.</p>
<p>On the platform, you'll find a range of tours and activities on offer. You can get information and book activities in just a few clicks from any internet-connected device, at any time.</p>
<h3><strong>Step by step:</strong></h3>

<ol class="list-numbered">
    <li>Search for experiences using the different categories or collections of categories. Each category groups together related activities (for example, guided bicycle tours), and each collection groups different categories together (for example, outdoor activities). <img src="{{baseImageURL}}/how-it-works/categories-screenshot.png" /></li>
    <li>Once you have all the information you need, click “book now”, and choose a date, time and the number of people in your group. <img src="{{baseImageURL}}/how-it-works/activity-detail-form.gif" /></li>
    <li>Enter details of the credit or debit card you wish to use for payment. <img src="{{baseImageURL}}/how-it-works/activity-checkout.gif" /></li>
    <li>If you pay in full, the booking is complete. Don't forget to read the provider's cancellation policy.</li>
    <li>If you pay a percentage of the total price, the outstanding amount must be paid to the activity provider on the day of the experience.</li>
    <li>Free events and activities still require booking.</li>
    <li>Once you've made your booking, you'll receive email confirmation with a booking voucher, plus location and contact details of the provider.</li>
</ol>
