<h2><strong>&iquest;C&oacute;mo funciona?</strong></h2>

<p>BA.tours es el primer marketplace de reservas de tours y actividades de la Ciudad de Buenos Aires.</p>
<p>En la plataforma vas a poder encontrar varias ofertas de Tours y Actividades. Pod&eacute;s informarte y reservar actividades, paseos y tours con un par de clicks desde cualquier dispositivo y a cualquier hora.</p>
<h3><strong>Paso a Paso:</strong></h3>

<ol class="list-numbered">
    <li>Podr&aacute;s buscar la experiencia que quer&eacute;s hacer en las diferentes categor&iacute;as o colecciones. Una categor&iacute;a agrupa actividades relacionadas (por ejemplo paseos en bicicleta guiados) y una colecci&oacute;n te agrupar&aacute; diferentes categor&iacute;as (por ejemplo actividades al aire libre). <img src="{{baseImageURL}}/how-it-works/categories-screenshot.png" /></li>
    <li>Una vez que te inform&aacute;s sobre la experiencia, pod&eacute;s hacer click en el bot&oacute;n &ldquo;Reservar ahora&rdquo;, eleg&iacute;s una fecha, el horario y la cantidad de personas para las cuales quer&eacute;s reservar. <img src="{{baseImageURL}}/how-it-works/activity-detail-form.gif" /></li>
    <li>Ingres&aacute;s los datos de tu tarjeta de cr&eacute;dito con la cual quer&eacute;s abonar la reserva. <img src="{{baseImageURL}}/how-it-works/activity-checkout.gif" /></li>
    <li>Si la actividad se paga al 100% ya ten&eacute;s tu reserva lista. No olvides leer la pol&iacute;tica de cancelaciones del prestador seleccionado.</li>
    <li>Si abon&aacute;s un porcentaje de la actividad en el momento de la reserva, el saldo restante deb&eacute;s pagarlo al vendedor en el mismo d&iacute;a en que realiz&aacute;s la experiencia.</li>
    <li>Aunque la actividad sea gratuita, igualmente deb&eacute;s realizar una reserva.</li>
    <li>Una vez hecha la reserva, vas a recibir un email con el voucher. All&iacute; encontrar&aacute;s los datos de contacto del vendedor y el lugar de la actividad.</li>
</ol>
