<p>Comunicate con nosotros a <a href="mailto:ba.tours@buenosaires.gob.ar">ba.tours@buenosaires.gob.ar</a> para proponerte como prestador de servicios turísticos en este sistema.</p>
<p>Tené en cuenta que deberás cumplir con algunos requisitos. Animate y comenzá a vender tus actividades por BA Tours.</p>