<p>Entre em contato conosco através do email <a href="mailto:ba.tours@buenosaires.gob.ar">ba.tours@buenosaires.gob.ar</a> para solicitar sua adesão como prestador de serviços turísticos neste sistema.</p>
<p>Tenha em conta que você deve cumprir com alguns requisitos. Venha e comece a vender suas atividades pela BA.tours.</p>