<div class="terms-and-conditions">
    <header class="terms-and-conditions-header">
        <div class="container">
            <h1>{{t 'terms-and-conditions.title'}}</h1>
        </div>
    </header>
    <section class="bg-box">
        <div class="container">
            {{{content}}}
        </div>
    </section>
</div>