<h1>Terminos y condiciones para usuarios - BA TOURS</h1>

<p>Los presentes términos y condiciones (en adelante, los “Términos y Condiciones Generales”) son aplicables al uso y/o contratación de los Servicios (en adelante, “Servicio/s”) ofrecidos a través del sitio web [ba.tours] (en adelante, el “Sitio”) cuyo dominio pertenece al Ente de Turismo del Gobierno de la Ciudad Autónoma de Buenos Aires (en adelante, "ENTUR"). El ENTUR, programa y ejecuta el Sitio, sus contenidos y la publicación de los Servicios. Los Servicios ofrecidos en el Sitio consisten en actividades y/o eventos de aventura, entretenimiento, capacitación, esparcimiento y diversión, son suministrados por los prestadores (en adelante, “Prestador/es”) y están sujetos a sus términos y condiciones particulares. Las personas interesadas (en adelante, “Usuario/s”) que desee acceder y/o usar el Sitio y/o contratar los Servicios en él promocionados/publicitados podrá hacerlo previa aceptación de os Términos y Condiciones Generales detallados en el Sitio, junto con todas las demás políticas y condiciones que rigen para cada Servicio ofrecido en particular, como asimismo aquellos términos y condiciones aplicables al uso del servicio de MercadoPago (disponibles en el sitio web <a href="https://www.mercadopago.com.ar/ayuda/terminos-y-condiciones_299" rel="nofollow" target="_blank">https://www.mercadopago.com.ar/ayuda/terminos-y-condiciones_299</a>), las que son reproducidos a continuación a mero efecto de facilitar su consulta. Es condición necesaria y excluyente, para el acceso al Sitio y/o a la contratación de Servicios, la lectura y aceptación previa y sin reservas de los presentes Términos y Condiciones Generales. El Usuario deberá ser, mayor de edad, y manifestar que ha leído, entendido y aceptado todas las condiciones establecidas en los Términos y Condiciones Generales, junto con todas las demás políticas y condiciones que rigen para cada Servicio en particular, como asimismo aquellos términos y condiciones que apliquen por el uso del servicio de MercadoPago, en su caso.</p>


<h2>Capacidad</h2>
<ol class="list-numbered">
    <li>El acceso y/o uso del Sitio y/o de los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán contratar los Servicios las personas que no tengan esa capacidad y/o los Usuarios que hayan sido suspendidos temporalmente o inhabilitados definitivamente para el acceso y/o uso del Sitio.</li>
    <li>Si se intenta registrar una empresa como Usuario, la persona física que intervenga debe tener capacidad suficiente para contratar a nombre de tal entidad y de obligar a la misma en los términos de los presentes Términos y Condiciones Generales.</li>
</ol>

<h2>Registración</h2>
<h3>Del Usuario</h3>
<ol class="list-numbered">
    <li>El Usuario deberá completar los campos requeridos, con datos válidos y verídicos para poder reservar y/o adquirir los Servicios que se ofrecen a través del Sitio.</li>
    <li>Los Usuarios garantizan y responden, en cualquier caso, por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.</li>
    <li>El Usuario accederá y/o utilizará al Sitio libremente siendo necesarios sus Datos Personales solo a efectos de reservar y/o adquirir los Servicios ofrecidos en el mismo.</li>
    <li>El Usuario será responsable por todas las operaciones realizadas con sus Datos Personales.</li>
</ol>

<h2>Modificaciones del Acuerdo</h2>
<ol class="list-numbered">
    <li>El ENTUR podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los extremos modificados los que términos entrarán en vigencia a los 10 (diez) días contados a partir del momento de su publicación. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá comunicar de manera fehaciente en caso de no aceptar las mismas; en ese caso, podrá dar de baja su Cuenta, y quedará inhabilitado para operar en el Sitio siempre que ello no afecte de modo alguno cualquier obligación que ya se hubiere asumido con un Usuario. Vencido este plazo, se considerará que el Usuario ha aceptado los nuevos Términos y Condiciones Generales modificados.</li>
    <li>1.  El Usuario deberá revisar periódicamente los Términos y Condiciones Generales, recordando que el solo acceso y uso del Sitio comporta conformidad con los mismos.</li>
</ol>

<h2>Los Servicios</h2>
<ol class="list-numbered">
    <li>Los Servicios publicitados a través del Sitio consisten en actividades y/o eventos de aventura, entretenimiento, capacitación, esparcimiento y diversión, que son suministrados por Prestadores y/o por terceros subcontratados por éstos a ese efecto.</li>
    <li>Los Prestadores son personas, físicas o jurídicas, ajenas al ENTUR, con quien no existe ninguna vinculación de dependencia ni económica, exceptuando aquellos casos en que se trate de actividades prestadas por este Organismo, en cuyo caso se encontrará indicado en la correspondiente descripción.</li>
    <li>Los Prestadores pondrán a disposición de los Usuarios y del ENTUR los términos y condiciones particulares de cada uno de los Servicios que publiciten a través del Sitio, lo que no pueden ser contrarios a los presentes términos y condiciones particulares, como así tampoco a los términos y condiciones de uso del servicio de MercadoPago.</li>
    <li>Los Servicios son ofertados en las condiciones de su publicación y según disponibilidad allí indicada, por tanto la contratación que efectúen los Usuarios se entiende perfeccionada en esos términos y no otros, quedándole vedada la modificación de los mismos.</li>
</ol>

<h2>Precios - Pago del Servicio</h2>
<ol class="list-numbered">
    <li>El Usuario que decida contratar algún Servicio disponible en el Sitio, deberá proporcionar todos los Datos Personales que le fueran requeridos en el Sitio.</li>
    <li>Finalizado el proceso de carga de datos, se deberá abonar total o parcialmente el Precio del Servicio. En caso de haber realizado el pago parcial, se deberá abonar el saldo restante al momento del cumplimiento del Servicio contratado.</li>
    <li>Los pagos de los servicios contratados se efectuarán a través del sistema de MercadoPago (https://www.mercadopago.com.ar).</li>
    <li>Registrado el pago, se emitirá una constancia digital cuya confirmación quedará supeditada a la verificación de Datos Personales por las entidades bancarias y/o financieras intervinientes.</li>
    <li>La confirmación del pago se efectuará dentro de las 48 hs hábiles de suscripta y será comunicada por e-mail al correo electrónico que el Usuario hubiera proporcionado a tal efecto al momento de su confirmación.</li>
    <li>En caso de no recibir confirmación del pago dentro del plazo de 48 hs. hábiles de que la misma hubiera sido generada, el Usuario deberá considerar que la misma ha sido rechazada.</li>
    <li>Al momento de confirmarse y notificarse el pago, la contratación del Servicio se entenderá perfeccionada y surtirá plenos efectos.</li>
    <li>El ENTUR no será responsable por el uso incorrecto del Sitio, ni de los errores o confusiones que pudiera ocasionar en el/los Usuario/s, Prestadores o terceros sobre la contratación del Servicio, siempre y cuando se hubieran aplicado los recaudos indicados en estos Términos y Condiciones.</li>
    <li>El ENTUR no será responsable por las irregularidades que pudiesen operar los registros o bases de datos de los Prestadores y que causasen perjuicios a los Usuarios.</li>
</ol>

<h2>Medios de Pago. Uso del servicio de MercadoPago</h2>
<ol class="list-numbered">
    <li>Todo Usuario que contrate y/o adquiera los Servicios ofrecidos a través del Sitio, aceptan expresamente la utilización del servicio de MercadoPago (https://www.mercadopago.com.ar) como la única y exclusiva forma para efectuar el pago de los Servicios ofrecidos.</li>
    <li>El Usuario declara que ha leído, comprendido y aceptado los términos y condiciones particulares de utilización de dicho servicio.</li>
</ol>

<h2>Contratación de Servicios</h2>
<ol class="list-numbered">
    <li>Los Usuarios interesados podrán gestionar a través del Sitio la Reserva o contratación de cualquier Servicio ofrecido mientras la oferta del mismo permanezca en vigencia.</li>
    <li>La oferta del Servicio culmina con el vencimiento del plazo estipulado expresamente indicado en la publicación y/o cuando se agotan los cupos para el mismo, lo que ocurra primero, lo cual estará indicado en cada publicación. En caso que dicha información no sea clara o precisa el Prestador será el único responsable, debiendo el mismo retirar o suspender la publicación en el momento en que se agota el stock o expire la vigencia de la oferta. El ENTUR no responderá en ningún caso por cualquier reclamo que surja de parte de un Usuario suscitada en esos motivos.</li>
    <li>La Reserva de Servicio, tratándose de un servicio conforme a las especificaciones aceptadas y requeridas por el Usuario y de imposible devolución, será irrevocable para el Usuario, salvo que mediaren circunstancias excepcionales, tales como: que el Prestador cambie sustancialmente la descripción del Servicio después de realizada alguna oferta, que exista un claro error tipográfico que modifique sustancialmente los términos de la oferta.</li>
    <li>Las políticas de cancelación serán determinadas por cada Prestador, las cuales estarán visibles en el texto descriptivo del Servicio.</li>
</ol>

<h2>Responsabilidad</h2>
<ol class="list-numbered">
    <li>El Sitio es un mero punto de encuentro entre Usuarios y Prestadores, el ENTUR no participa de las operaciones que realizan entre ellos</li>
    <li>El ENTUR sólo pone a disposición de los Usuarios un espacio virtual que les permite comunicarse con los Prestadores, para encontrar una forma de ofrecer y publicitar Servicios, y posibilitar su contratación.</li>
    <li>El ENTUR no tiene participación alguna en el proceso de negociación y/o perfeccionamiento y/o ejecución del contrato definitivo entre los Usuarios y Prestadores de Servicios. Por tal motivo, el ENTUR no es responsable por el efectivo cumplimiento de las obligaciones fiscales, impositivas ni por aquellas establecidas por las leyes vigentes.</li>
    <li>El ENTUR no es el prestador de los Servicios ofrecidos, no tiene posesión ni disposición sobre ellos ni los ofrece en venta, tampoco los ejecuta ni tiene injerencia en su prestación, a excepción de aquellos en que se exprese inequívocamente que son prestados por este Organismo.</li>
    <li>El ENTUR no interviene en el perfeccionamiento de las operaciones realizadas entre los Usuarios y Prestadores, ni en las condiciones por ellos estipuladas para las mismas, por ello no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o de los Servicios ofrecidos por los Prestadores y adquiridos por los Usuarios, así como tampoco de la capacidad para contratar de los Usuarios y/o Prestadores, ni de la veracidad de los Datos Personales ingresados.</li>
    <li>Los Usuarios conocen y aceptan ser exclusivos responsables de las obligaciones contraídas al momento de la contratación del/de los Servicio/s.</li>
    <li>El ENTUR no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar operaciones con Prestadores y/o terceros lo hace bajo su propio riesgo. En ningún caso el ENTUR será responsable ni por lucro cesante o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por la contratación de Servicios publicados a través del Sitio y/o por aquellas operaciones efectuadas con motivo o en ocasión de la prestación de esos Servicios.</li>
    <li>El ENTUR recomienda actuar con prudencia y sentido común al momento de concertar operaciones entre Usuarios y Prestadores.</li>
    <li>En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u otros Prestadores y/o Usuarios, todos y cada uno de los involucrados en dichos reclamos o acciones eximen de toda responsabilidad al Gobierno de la Ciudad Autónoma de Buenos Aires y al ENTUR de la Ciudad Autónoma de Buenos Aires.</li>
    <li>El ENTUR no asume responsabilidad de ningún tipo por la información incorrecta o inexacta suministrada, relacionada al Sitio, bien sea causada por un Usuario, Prestador, error humano y/o cualquier otro factor que pueda ocurrir.</li>
    <li>El ENTUR no tiene obligación de controlar, y no controla, la utilización que los Usuarios y/o Prestadores hacen del Sitio. En particular, el ENTUR no garantiza que los Usuarios ni los Prestadores utilicen el Sitio de conformidad con estos Términos y Condiciones Generales ni que lo hagan de forma diligente y prudente, de acuerdo a la legislación vigente. El ENTUR no se responsabiliza por las acciones ilícitas y/o daños o perjuicios que pudieran derivarse del uso del Sitio.</li>
</ol>

<h2>Prohibiciones</h2>
<ol class="list-numbered">
    <li>No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria del Sitio como en las ofertas, descripciones, cuentas o bases de datos del Sitio.</li>
    <li>Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en el presente, harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas, así como lo hará responsable de indemnizar los daños ocasionados.</li>
    <li>El Usuario, en conocimiento de la ley N° 600 y Ley N° 2443, toma conocimiento que en todo el territorio de la República Argentina se castiga con hasta quince (15) años de prisión a quienes participen en actos de prostitución infantil corrupción y/o de abuso sexual a menores de dieciocho (18) años. Denuncie ante la autoridad competente al tomar conocimiento de algún caso de práctica de explotación sexual comercial en niños/as y adolescentes.</li>
</ol>

<h2>Fallas en el sistema</h2>
<ol class="list-numbered">
    <li>El ENTUR no se responsabiliza por cualquier daño, perjuicio o pérdida al Usuario, causados por fallas en el sistema, en el servidor o en Internet.</li>
    <li>El ENTUR no será responsable por cualquier virus informático que pudiera infectar o atacar el equipo del Usuario como consecuencia del acceso, uso o examen del Sitio o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo.</li>
    <li>Los Usuarios no podrán imputarle responsabilidad alguna al ENTUR ni exigir pago por ningún concepto, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet.</li>
    <li>El ENTUR no garantiza el acceso y uso continuado o ininterrumpido de su Sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena al ENTUR; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad.</li>
    <li>El ENTUR no será responsable por ningún error u omisión contenidos en el Sitio.</li>
</ol>

<h2>Asunción de riesgos</h2>
<ol class="list-numbered">
    <li>La presente tendrá carácter de Declaración Jurada y el simple hecho de inscribirse implica aceptación total por parte de/los participante/s y quienes inscriba en su nombre, eximiendo de toda responsabilidad al Gobierno de la Ciudad Autónoma de Buenos Aires y/o a todas las entidades relacionadas con esta y/o sus empleados y/o funcionarios, ante todos los riesgos personales y daños a terceros y cosas, incluyendo colisiones con cualquier tipo de objetos u otros participantes.</li>
    <li>Quien suscribe ha decidido participar él y a quienes suscribe voluntariamente de las actividades o programas turísticos arriba mencionados y declara conocer en toda su extensión las características y riesgos propios involucrados en las mismas. Asimismo declaro encontrarme en condiciones físicas y psicológicas aptas para el desarrollo de la actividad, así como a quienes suscribo en nombre de ellos. Asumiendo cada uno de los participantes, mi única y absoluta responsabilidad, y en nombre de mis sucesores, herederos y representantes, todos los riesgos que las actividades en cuestión implican, así como también la responsabilidad por la guarda y el cuidado de los elementos proporcionados para el desarrollo de la actividad.</li>
    <li>Quien suscribe autoriza a difundir su retrato fotográfico y del grupo inscripto, obtenido en el marco de la participación en las actividades organizadas por el Gobierno de la Ciudad Autónoma de Buenos Aires, siempre y cuando no sea utilizado con fines comerciales. Todo ello conforme al Artículo 31 de la Ley 11.723. Por ello, renuncia a la posibilidad de realizar reclamos concernientes a los Derechos de Propiedad Intelectual surgidos como consecuencia de la presente actividad.</li>
    <li>Los usuarios se comprometen a solucionar amigablemente con el ENTUR las diferencias que se pudieran presentar sobre cualquier aspecto relativo a la interpretación y/o aplicación de la presente y de la utilización del Sitio. De no ser ello posible, se someten voluntariamente a la competencia de los Tribunales en lo Contencioso Administrativo y Tributario de la Ciudad Autónoma de Buenos Aires, con renuncia expresa a cualquier otro fuero y/o jurisdicción que pudiere corresponderles.</li>
    <li>A los efectos de toda notificación judicial el ENTUR, fija domicilio Legal en la Procuración General de la Ciudad Autónoma de Buenos Aires, Uruguay 458 – Departamento Oficios Judiciales y Cédulas.</li>
</ol>

<h2>Anexos</h2>
<ol class="list-numbered">
    <li>Forman parte integral e inseparable de los Términos y Condiciones Generales, los siguientes documentos y/o secciones del Sitio incorporados por referencia, donde se detallan políticas y/o términos y condiciones de los diferentes Servicios ofrecidos en el Sitio. Los mismos se podrán consultar dentro del Sitio mediante los enlaces provistos o accediendo directamente a las URL correspondientes.</li>
</ol>

<h3>Política de cookies</h3>
<p>Cookie es un fichero que se descarga en su computadora al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. El navegador del usuario memoriza cookies en el disco duro solamente durante la sesión actual ocupando un espacio de memoria mínimo y no perjudicando a la computadora. Las cookies no contienen ninguna clase de información personal específica, y la mayoría de las mismas se borran del disco duro al finalizar la sesión de navegador (las denominadas cookies de sesión).</p>
<p>La mayoría de los navegadores aceptan como estándar a las cookies y, con independencia de las mismas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.</p>
<h4>¿Qué tipos de cookies utiliza esta página web?</h4>
<ol class="list-numbered">
    <li>Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</li>
    <li>Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</li>
    <li>Cookies de análisis: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.</li>
    <li>Cookies publicitarias: Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos mostrarle publicidad relacionada con su perfil de navegación.</li>
    <li>Cookies de publicidad comportamental: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</li>
    <li>Cookies de terceros: Este sitio puede utilizar servicios de terceros que, recopilaran información con fines estadísticos, de uso del Site por parte del usuario y para la prestación de otros servicios relacionados con la actividad del Website y otros servicios de Internet.</li>
</ol>
<p>En particular, este sitio Web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc. con domicilio en los Estados Unidos con sede central en 1600 AmphitheatreParkway, Mountain View, California 94043.  Para la prestación de estos servicios, estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada y almacenada por Google en los términos fijados en la Web Google.com. Incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por cuenta de Google.</p>