<div class="about-us">
    <header class="about-us-header">
        <div class="container">
            <h1>{{t 'about-us.title'}}</h1>
        </div>
    </header>
    <section class="bg-box">
        <div class="container">{{{content}}}</div>
    </section>
</div>
