<div class="activity-important">
    <hr/>
    <div class="col-sm-12" style="margin-right: -20px;">
         <div class="col-sm-3" style="margin-left: -8px;">
             <div class="row">
                <div class="col-sm-12" style="margin-right: -20px;"> 
                    <div class="row">
                        <div class="col-sm-12" >
                            <span class="rating">
                                <span class="star {{#is item.rating 5}}selected{{/is}}"></span>
                                <span class="star {{#is item.rating 4}}selected{{/is}}"></span>
                                <span class="star {{#is item.rating 3}}selected{{/is}}"></span>
                                <span class="star {{#is item.rating 2}}selected{{/is}}"></span>
                                <span class="star {{#is item.rating 1}}selected{{/is}}"></span>
                            </span>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-12 review-description" >
                            <h5>{{item.first_name}}  {{item.last_name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-sm-9" >
            <div class="row">
                <div class="col-sm-12 review-description">
                    <h5>{{item.description}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>